
{{> head }}
{{> navbar }}

    <div class="row">
        <div class="col">
            <h1>About</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius iusto mollitia placeat fugiat ipsum perferendis pariatur cum expedita odio voluptatum maiores quis sequi quaerat, distinctio necessitatibus nisi natus, cupiditate dolores?</p>
        </div>

        <div class="col">
            <img src="assets/img/HEADER-COUPONS.png" class="img-thumbnail">
        </div>

    </div>

{{> footer }}